@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}